<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      android:versionCode="1"
      android:versionName="1.0" package="com.shimmerresearch.shimmergraph" >
	  <supports-screens android:smallScreens="true" android:normalScreens="true" android:largeScreens="true" android:xlargeScreens="true" android:anyDensity="true" />
    <uses-sdk android:minSdkVersion="10" android:targetSdkVersion="19"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"></uses-permission>
    <uses-permission android:name="android.permission.BLUETOOTH"></uses-permission>
     <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
  <uses-feature android:glEsVersion="0x00020000" />
  <uses-permission android:name="android.permission.INTERNET" />
  <uses-feature android:name="android.hardware.sensor.accelerometer" />
  <uses-feature android:name="android.hardware.touchscreen" />
  <uses-feature android:name="android.hardware.touchscreen.multitouch" android:required="false" />
  <uses-feature android:name="android.hardware.touchscreen.multitouch.distinct" android:required="false" />

    <application android:label="@string/app_name" android:icon="@drawable/shimmer_icon">
        <activity android:screenOrientation="portrait"
                  android:label="@string/app_name" android:name="com.shimmerresearch.shimmergraph.ShimmerGraph">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
		<activity android:name="com.shimmerresearch.shimmergraph.DeviceListActivity"
                  android:label="@string/select_device"
                  android:theme="@android:style/Theme.Dialog">
        </activity>
		<activity android:name="com.shimmerresearch.shimmergraph.ConfigureActivity" android:theme="@android:style/Theme.Dialog" android:label="@string/configure_device"></activity>
    <activity android:name="com.shimmerresearch.shimmergraph.SensorViewActivity" android:theme="@android:style/Theme.Dialog" android:label="@string/configure_device"></activity>
	<activity android:name="com.unity3d.player.UnityPlayerNativeActivity" android:label="@string/game" android:screenOrientation="portrait" android:launchMode="singleTask" android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|orientation|screenLayout|uiMode|screenSize|smallestScreenSize|fontScale">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.DEFAULT" />
      </intent-filter>
      <meta-data android:name="unityplayer.UnityActivity" android:value="true" />
      <meta-data android:name="unityplayer.ForwardNativeEventsToDalvik" android:value="false" />
    </activity>
    </application>
</manifest>